@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Protest Riot", sans-serif;
    font-weight: 40px;
    font-style: normal; */
}
body{
    background-color: rgb(88, 109, 175);
    color: #ededed;
}
.header{
    position: fixed;
    top: 10px;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 20px 10%;
    background-color:  rgba(108, 201, 219, 0.189);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}
.logo:hover,
.logo.active{
    color: #6cb3d2e6;
}
.navbar a{
    font-size: 18px;
    font-family: "Protest Riot", sans-serif;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}
.navbar a:hover,
.navbar a.active{
    color: #6cb3d2e6;

}

.home{
    height: 100vh;
    /* background: url('sau.jpg') no-repeat;
    background-size: cover;
    background-position: 14% 15%; */
    padding: 0 10vh;
    display: flex;
    align-items: center;

}

.home-content{
   max-width: 100vh;
   margin: 20px 0 40px;
}

.home-content h1{
    font-size: 80px;
    
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #46c4f9e6;
}
.home-content p{
    font-size: 20px;
    margin: 20px 0 40px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 20px;
}

.btn-box a{ 
    position: relative;
    font-family: "Protest Riot", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200%;
    background: #46c4f9e6;
     border: 2px solid #46c4f9e6;
     border-radius: 8px;
     font-size: 19px;
     color: white;
     text-decoration: none;
     font-weight: 600;
     letter-spacing: 1px;
     z-index: 1;
     overflow: hidden;
     transition: .5s;
}
.btn-box a:hover{
    color: black;
}

.btn-box a:nth-child(2){
    background: transparent;
} 
.btn-box a:nth-child(2):hover{
  color: black;
}
.btn-box a:nth-child(2)::before{
    background: #46c4f9e6;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(88, 109, 175);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 200px;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #46c4f9e6;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
     transition: .2s;
     z-index: 1;
     overflow: hidden;
}
.home-sci a:hover{
    color: black;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #6cb3d2e6;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
  width: 100%;
}
.img{  
    justify-content: right;
    position: relative;
    margin-left: 15%;
    overflow: auto;
/*     border: 7px solid rgb(52, 52, 80);  */
    border-radius: 100%; 
    }  
 /* .dark{
        background-color: black;
        color: white;
    }
 .light{
        background-color: white;
        color: black;
    }
     */
